.contentCont {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: auto;
}
.contentSection {
  flex-grow: 1;
  border: 1px solid #333;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  color: white;
}
